<ion-view view-title="Signup">
  <ion-content>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="signupData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="signupData.location">
        </label>
        <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="text" ng-model="signupData.age">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="signupData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">SIGN UP</button>
        </label>
      </div>
    </form>
    <div>
      ---------- OR ----------
    </div>
    <div>
      <button class="button button-block button-positive" type="button">Log In with Facebook</button>
    </div>
  </ion-content>
</ion-view>
